{% include 'overall_header.html' %}
{% include '@david63_cpfautogroup/head_panel.html' %}

<form id="cpfautogroup" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('NOTES') }}</legend>

		<input id="tab1" type="radio" name="tabs" checked>
		<label for="tab1">{{ lang('TAB_GENERAL') }}</label>

		<input id="tab2" type="radio" name="tabs">
		<label for="tab2">{{ lang('TAB_BOOLEAN') }}</label>

		<input id="tab3" type="radio" name="tabs">
		<label for="tab3">{{ lang('TAB_DATE') }}</label>

		<input id="tab4" type="radio" name="tabs">
		<label for="tab4">{{ lang('TAB_DROPDOWN') }}</label>

		<input id="tab5" type="radio" name="tabs">
		<label for="tab5">{{ lang('TAB_GOOGLEPLUS') }}</label>

		<input id="tab6" type="radio" name="tabs">
		<label for="tab6">{{ lang('TAB_INTEGER') }}</label>

		<input id="tab7" type="radio" name="tabs">
		<label for="tab7">{{ lang('TAB_STRING') }}</label>

		<input id="tab8" type="radio" name="tabs">
		<label for="tab8">{{ lang('TAB_TEXT') }}</label>

		<input id="tab9" type="radio" name="tabs">
		<label for="tab9">{{ lang('TAB_URL') }}</label>

		<section id="content1">
			<span class="tab-content">{{ lang('NOTES_GENERAL') }}</span>
		</section>

		<section id="content2">
			<span class="tab-content">{{ lang('NOTES_BOOLEAN') }}</span>
		</section>

		<section id="content3">
			<span class="tab-content">{{ lang('NOTES_DATE') }}</span>
		</section>

		<section id="content4">
			<span class="tab-content">{{ lang('NOTES_DROPDOWN') }}</span>
		</section>

		<section id="content5">
			<span class="tab-content">{{ lang('NOTES_GOOGLE') }}</span>
		</section>

		<section id="content6">
			<span class="tab-content">{{ lang('NOTES_NUMBERS') }}</span>
		</section>

		<section id="content7">
			<span class="tab-content">{{ lang('NOTES_SINGLE_TEXT') }}</span>
		</section>

		<section id="content8">
			<span class="tab-content">{{ lang('NOTES_TEXTAREA') }}</span>
		</section>

		<section id="content9">
			<span class="tab-content">{{ lang('NOTES_URL') }}</span>
		</section>

	</fieldset>

	{% if U_SUMMARY %}
		<fieldset>
			<legend>{{ lang('CPF_SUMMARY') }}</legend>
			<div class="table">
				<div class="table-header">
					<div class="table-header-cell-left">{{ lang('CPF_FIELD') }}</div>
					<div class="table-header-cell">{{ lang('CPF_FIELD_TYPE') }}</div>
					<div class="table-header-cell">{{ lang('CPF_USERS') }}</div>
					<div class="table-header-cell">{{ lang('CPF_EVENT_TRIGGER') }}</div>
					<div class="table-header-cell-right">{{ lang('CONDITIONS') }}</div>
				</div>

				<div class="table-body">
					{% for summary in cpf_summary %}
						{% if summary.S_ROW_COUNT is even %}<div class="table-row1">{% else %}<div class="table-row2">{% endif %}
							<div class="table-body-cell-bold">{{ summary.CPF_SUMMARY_FIELD }}</div>
							<div class="table-body-cell">{{ summary.CPF_SUMMARY_FIELD_TYPE }}</div>
							<div class="table-body-cell">{{ summary.CPF_SUMMARY_USERS }}</div>
							<div class="table-body-cell">{{ summary.CPF_SUMMARY_EVENT_CRON }}</div>
							<div class="table-body-cell">{{ summary.CPF_SUMMARY_CONDITIONS }}</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</fieldset>
	{% endif %}

	<fieldset>
		<legend>{{ lang('CPFAG_SETTINGS') }}</legend>

		<dl>
	    	<dt><label for="cpf_field_name">{{ lang('CPF_FIELD_SELECT') }}{{ lang('COLON') }}</label><br><span>{{ lang('CPF_FIELD_SELECT_EXPLAIN') }}</span></dt>
	    	<dd><select id="cpf_field_name" name="cpf_field_name">{S_CPF_SELECT}</select></dd>
		</dl>

		<dl>
			<dt><label for="cpf_users">{{ lang('CPF_USERS') }}{{ lang('COLON') }}</label><br><span>{{ lang('CPF_USERS_EXPLAIN') }}</span></dt>
			<dd>
				<input type="radio" id="cpf_users1" name="cpf_users" value="1"{% if CPF_USERS %} checked="checked"{% endif %} />
				<label class="set" for="cpf_users1">{{ lang('SINGLE') }}</label>
				<input type="radio" id="cpf_users0" name="cpf_users" value="0"{% if not CPF_USERS %} checked="checked"{% endif %} />
				<label class="set" for="cpf_users0">{{ lang('ALL') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="cpf_cron">{{ lang('CPF_CRON_USE') }}{{ lang('COLON') }}</label><br><span>{{ lang('CPF_CRON_USE_EXPLAIN') }}</span></dt>
			<dd>
				<input type="radio" id="cpf_cron1" name="cpf_cron" value="1"{% if CPF_CRON_USE %} checked="checked"{% endif %} />
				<label class="set" for="cpf_cron1">{{ lang('CRON') }}</label>
				<input type="radio" id="cpf_cron0" name="cpf_cron" value="0"{% if not CPF_CRON_USE %} checked="checked"{% endif %} />
				<label class="set" for="cpf_cron0">{{ lang('AUTO') }}</label>
			</dd>
		</dl>

		<dl>
	    	<dt><label for="cpf_event_trigger">{{ lang('CPF_EVENT_TRIGGER_SELECT') }}{{ lang('COLON') }}</label><br><span>{{ lang('CPF_EVENT_TRIGGER_SELECT_EXPLAIN') }}</span></dt>
	    	<dd><select id="cpf_event_trigger" name="cpf_event_trigger">{{ S_EVENT_TRIGGER_SELECT }}</select></dd>
		</dl>

		<dl>
			<dt><label for="cpf_cron_time">{{ lang('CPF_CRON_TIME') }}{{ lang('COLON') }}</label><br><span>{{ lang('CPF_CRON_TIME_EXPLAIN') }}</span></dt>
			<dd>
				<input class="textbox" name="cpf_cron_time" type="number" id="cpf_cron_time" value="{{ CPF_CRON_TIME }}" min="1" max="999" />&nbsp;{{ lang('CPF_HOURS') }}
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('CONDITIONS') }}</legend>

		<dl>
	    	<dt><label for="cpf_date_type">{{ lang('CPF_DATE_TYPE_SELECT') }}{{ lang('COLON') }}</label><br><span>{{ lang('CPF_DATE_TYPE_SELECT_EXPLAIN') }}</span></dt>
	    	<dd><select id="cpf_date_type" name="cpf_date_type">{{ S_DATE_TYPE_SELECT }}</select></dd>
		</dl>

		<hr>

		<dl>
			<dt><label for="cpf_group_use">{{ lang('CPF_GROUP_USE') }}{{ lang('COLON') }}</label><br><span>{{ lang('CPF_GROUP_USE_EXPLAIN') }}</span></dt>
			<dd>
				<input type="radio" id="cpf_group_use1" name="cpf_group_use" value="1"{% if CPF_GROUP_USE %} checked="checked"{% endif %} />
				<label class="set" for="cpf_group_use1">{{ lang('YES') }}</label>
				<input type="radio" id="cpf_group_use0" name="cpf_group_use" value="0"{% if not CPF_GROUP_USE %} checked="checked"{% endif %} />
				<label class="unset" for="cpf_group_use0">{{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
	    	<dt><label for="cpf_group">{{ lang('CPF_GROUP_SELECT') }}{{ lang('COLON') }}</label><br><span>{{ lang('CPF_GROUP_SELECT_EXPLAIN') }}</span></dt>
	    	<dd><select id="cpf_group" name="cpf_group">{{ S_GROUP_SELECT }}</select></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="adm-button" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="adm-button" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include '@david63_cpfautogroup/donate.html' %}
{% include 'overall_footer.html' %}
